@import "Colors.scss";
@import "Variables.scss";
@import "RangeInput.scss";
@import "Checkbox.scss";

@import "Starfield.scss";
@import "AboutPage.scss";
@import "WorkPage.scss";
@import "ContactPage.scss";

html {
  height: 100%;
  scrollbar-width: auto;
  scrollbar-color: $grey-blue $black;
  &::-webkit-scrollbar {
    width: 20px;
  }
  &::-webkit-scrollbar-track {
    background: $black;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $grey-blue;
    border-radius: 5px;
    border: 3px solid $black;
  }
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  background: $grey-blue;
  scroll-behavior: smooth;
  font-family: $main-font;

  .nav-bar {
    display: flex;
    position: fixed;
    top: 0;
    padding: 0 10% 0 10%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 80%;
    background: $black;
    z-index: 5;

    @media screen and (max-width: $break-tablet) and (orientation: portrait) {
      flex-direction: column;
      height: 120px;
      justify-content: space-evenly;
      width: 90%;
      padding: 0 5% 0 5%;
    }

    @media screen and (max-height: $break-mobile) and (orientation: landscape) {
      width: 85%;
      justify-content: flex-end;
    }

    .nav-page-title {
      color: white;
      font-family: $title-font;
      font-size: 2.8rem;
      letter-spacing: 0.03em;
      cursor: pointer;

      @media screen and (max-width: $break-tablet) and (orientation: portrait) {
        font-size: 2rem;
      }

      @media screen and (max-height: $break-mobile) and (orientation: landscape) {
        display: none;
      }
    }

    .inner-nav-bar {
      display: flex;
      justify-content: space-between;
      width: 440px;

      @media screen and (max-width: $break-mobile) and (orientation: portrait) {
        width: 100%;
      }

      .nav-link {
        color: white;
        background: transparent;
        padding: 10px 20px;
        border: 2px solid rgb(175, 175, 175);
        border-radius: 5px;
        font-family: $main-font;
        font-weight: bold;
        font-size: 1rem;
        outline: none;
        user-select: none;
        transition: background 0.3s;

        &:focus {
          background: $near-black;
        }

        &:hover {
          cursor: pointer;
          background: $bright-magenta;

          &:active {
            background: $magenta;
          }
        }

        &.mobile {
          &:active {
            background: $bright-magenta;
          }
        }

        @media screen and (max-width: $break-mobile) and (orientation: portrait) {
          font-size: 0.8rem;
          padding: 8px 10px;
        }

        @media screen and (max-height: $break-brannan) and (orientation: landscape) {
          font-size: 0.9rem;
        }
        
        @media screen and (max-width: $break-brannan) and (orientation: portrait) {
          padding: 8px 6px;
        }
      }
    }
  }

  .gradient-wipe {
    position: fixed;
    width: 160%;
    min-width: 250vh;
    height: 100vh;
    right: 0;
    background: $black;
    background: linear-gradient(
      120deg,
      rgba(0, 0, 0, 0) 20%,
      $black 23%,
    );
    transition: background 3s;
    z-index: 10;
  }

  .modal-off-button {
    position: absolute;
    height: 1.5vw;
    min-height: 25px;
    width: 1.5vw;
    min-width: 25px;
    top: 2%;
    right: 2%;
    background: transparent;
    border: 2px solid rgb(175, 175, 175);
    font-size: 12px;
    text-align: center;
    color: white;
    border-radius: 3px;
    outline: none;
    user-select: none;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    &:focus {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  .modal-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    top: 0;
    z-index: 10;
    background: transparent;
    pointer-events: none;
    transition: background 0.5s;
  }
}

.gradient {
  position: relative;
  width: 100%;
  height: 60px;
  background: $black;
  background: linear-gradient(
    180deg,
    rgba(22, 22, 26, 1) 10%,
    rgba(255, 255, 255, 0) 90%
  );
  z-index: 10;
}

.fixed-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;

  .gear {
    position: absolute;
    user-select: none;
    pointer-events: none;
    z-index: 4;
  }

  .gear.top-left {
    top: 0;
    width: 250px;
    margin-left: -125px;
    margin-top: -65px;
    
    @media screen and (max-width: $break-tablet) and (orientation: portrait) {
      width: 200px;
      margin-left: -100px;
      margin-top: 15px;
    }

    @media screen and (max-width: $break-mobile) and (orientation: portrait) {
      width: 145px;
      margin-left: -75px;
      margin-top: 45px;
    }

    @media screen and (max-height: $break-mobile) and (orientation: landscape) {
      width: 145px;
      margin-left: -70px;
      margin-top: -15px;
    }
  }

  .gear.bottom-right {
    bottom: 0;
    right: 0;
    width: 320px;
    margin-right: -215px;
    margin-bottom: -125px;
    margin-right: -255px;
    margin-bottom: -95px;
    
    @media screen and (max-width: $break-tablet) and (orientation: portrait) {
      width: 200px;
      margin-right: -155px;
      margin-bottom: -55px;
    }

    @media screen and (max-width: $break-mobile) and (orientation: portrait) {
      width: 145px;
      margin-right: -115px;
      margin-bottom: -40px;
    }

    @media screen and (max-height: $break-mobile) and (orientation: landscape) {
      width: 145px;
      margin-right: -105px;
      margin-bottom: -50px;
    }

    @media screen and (max-width: $break-brannan) and (orientation: portrait) {
      width: 125px;
      margin-right: -100px;
      margin-bottom: -40px;
    }

    @media screen and (max-height: $break-brannan) and (orientation: landscape) {
      width: 125px;
      margin-right: -90px;
      margin-bottom: -45px; 
    }
  }


  .title {
    width: 180px;
    margin: 3px auto 0;
    text-align: center;
    font-family: $title-font, sans-serif;
    font-size: 2.4rem;
    padding: 17px 22px;
    background: $black;
    border-radius: 25px;
    color: white;
    letter-spacing: 0.03em;
    backface-visibility: hidden;
  }

}
