@import "Colors.scss";
@import "Variables.scss";

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  background: $grey-blue;
  scroll-behavior: smooth;
  font-family: $main-font;

  .nav-bar {
    display: flex;
    position: fixed;
    top: 0;
    padding: 0 10% 0 10%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 80%;
    background: $black;
    z-index: 5;

    @media screen and (max-width: $break-tablet) and (orientation: portrait) {
      flex-direction: column;
      height: 120px;
      justify-content: space-evenly;
      width: 90%;
      padding: 0 5% 0 5%;
    }

    .nav-page-title {
      color: white;
      font-family: $title-font;
      font-size: 2.8rem;
      letter-spacing: 0.03em;
      cursor: pointer;

      @media screen and (max-width: $break-tablet) and (orientation: portrait) {
        font-size: 2rem;
      }

      @media screen and (max-height: $break-mobile) and (orientation: landscape) {
        font-size: 2rem;
        visibility: hidden;
      }
    }

    .inner-nav-bar {
      display: flex;
      justify-content: space-between;
      width: 440px;

      @media screen and (max-width: $break-mobile) and (orientation: portrait) {
        width: 100%;
      }

      .nav-link {
        color: white;
        background: transparent;
        padding: 10px 20px;
        border: 2px solid rgb(207, 207, 207);
        border-radius: 5px;
        font-family: $main-font;
        font-weight: bold;
        font-size: 1rem;
        outline: none;
        user-select: none;
        transition: background 0.3s;

        &:focus {
          background: $near-black;
        }

        &:hover {
          cursor: pointer;
          background: $bright-magenta;

          &:active {
            background: $magenta;
          }
        }

        &.mobile {
          &:active {
            background: $bright-magenta;
          }
        }

        @media screen and (max-width: $break-mobile) and (orientation: portrait) {
          font-size: 0.8rem;
          padding: 8px 10px;
        }
      }
    }
  }

  .top-container {
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: transform 1s;
    z-index: 7;

    &.up {
      transform: translateY(-150%);
    }

    .border-screen {
      position: absolute;
      z-index: 8;
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: opacity 1s, transform 1s;
    }
    .starfield-box {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 6;
      width: 100%;
      height: 100%;
      transition: transform 1s;

      .canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
        background: $magenta;
        background: linear-gradient(
          75deg,
          rgba(90, 0, 72, 1) 0%,
          rgba(67, 0, 19, 1) 47%,
          rgba(67, 0, 19, 1) 53%,
          rgba(50, 0, 73, 1) 100%
        );
        transition: background 3s;
      }

      .starfield-content-box {
        display: flex;
        width: 100%;
        height: 70%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 15%;
        margin-bottom: 15%;

        .page-title {
          width: 80%;
          margin-bottom: 5%;
          text-align: center;
          font-size: 4rem;
          font-family: $title-font;
          color: white;
          line-height: 1.3;
          text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          user-select: none;
          pointer-events: none;

          @media screen and (max-width: 1163px) {
            font-size: 3rem;
          }

          @media screen and (max-width: $break-mobile) and (orientation: portrait) {
            font-size: 2rem;
          }

          @media screen and (max-height: $break-mobile) and (orientation: landscape) {
            font-size: 2rem;
          }
        }

        .animated-button {
          background: $black;
          padding: 15px 20px;
          border: 2px solid rgb(207, 207, 207);
          border-radius: 10px;
          font-size: 1.6rem;
          font-family: $main-font;
          font-weight: bold;
          color: white;
          z-index: 7;
          user-select: none;
          transition: background 0.3s;
          outline: none;
          cursor: pointer;

          @media screen and (max-width: $break-mobile) and (orientation: portrait) {
            font-size: 1.2rem;
          }

          @media screen and (max-height: $break-mobile) and (orientation: landscape) {
            font-size: 1.2rem;
          }

          &:focus {
            background: $near-black;
          }

          &:hover {
            background: $bright-magenta;
            color: white;
            cursor: pointer;

            &:active {
              background: $magenta;
            }
          }
        }
        .starfield-modal-container {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          width: 100%;
          pointer-events: none;

          .starfield-modal {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35%;
            min-width: 240px;
            max-width: 450px;
            height: auto;
            max-height: 280px;
            padding: 15px;
            border-radius: 10px;
            margin-top: 10%;
            background: rgba(20, 20, 24, 0.6);
            z-index: 1;

            .starfield-modal-text {
              color: white;
              font-size: 1.2rem;
              line-height: 1.25;
              padding-left: 10px;
              padding-right: 25px;

              @media screen and (max-width: $break-720) {
                font-size: 1.1rem;
              }

              @media screen and (max-width: $break-mobile) and (orientation: portrait) {
                font-size: 0.95rem;
              }

              @media screen and (max-height: $break-mobile) and (orientation: landscape) {
                font-size: 0.7rem;
              }
            }

            .modal-off-button {
              margin: 3px;
              transform: scale(0.8);
              pointer-events: auto;
            }
          }
        }
      }
    }
  }

  .modal-off-button {
    position: absolute;
    height: 1.5vw;
    min-height: 25px;
    width: 1.5vw;
    min-width: 25px;
    top: 2%;
    right: 2%;
    background: transparent;
    border: 2px solid rgb(207, 207, 207);
    font-size: 12px;
    text-align: center;
    color: white;
    border-radius: 3px;
    outline: none;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    &:focus {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  .modal-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    top: 0;
    z-index: 10;
    background: transparent;
    pointer-events: none;
    transition: background 0.5s;

    .work-modal {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      max-width: 1000px;
      min-width: 300px;
      width: 80%;
      height: auto;
      max-height: 95%;
      border: 10px solid $magenta;
      background: $black;
      border-radius: 10px;
      overflow-y: auto;

      .modal-outer-box {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 5%;

        .modal-video {
          flex-direction: column;
          align-items: center;
          width: 80vh;
          min-width: 70%;
          max-width: 90%;
          height: auto;
          background: black;
        }
        .modal-inner-box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 90%;

          .modal-title {
            text-align: center;
            color: white;
            font-size: 2.5rem;
            margin: 4% 0 0.5%;

            @media screen and (max-width: $break-720) {
              font-size: 2.4rem;
            }

            @media screen and (max-height: $break-mobile) and (orientation: landscape) {
              font-size: 2.3rem;
            }

            @media screen and (max-width: $break-mobile) and (orientation: portrait) {
              font-size: 2.3rem;
            }
          }

          .modal-tech-stack {
            text-align: center;
            color: $text-magenta;
            font-weight: bold;
            font-size: 1.4rem;
            margin: 0 0 4%;

            @media screen and (max-width: $break-720) {
              font-size: 1.3rem;
            }

            @media screen and (max-height: $break-mobile) and (orientation: landscape) {
              font-size: 1.2rem;
            }

            @media screen and (max-width: $break-mobile) and (orientation: portrait) {
              font-size: 1.2rem;
            }
          }

          .modal-description {
            color: white;
            font-size: 1.2rem;
            text-align: center;
            line-height: 1.2;

            @media screen and (max-width: $break-720) {
              font-size: 1.1rem;
            }

            @media screen and (max-height: $break-mobile) and (orientation: landscape) {
              font-size: 1rem;
            }

            @media screen and (max-width: $break-mobile) and (orientation: portrait) {
              font-size: 1rem;
            }

            a {
              color: $cyan;
            }
          }
        }
      }

      .modal-link {
        background: $black;
        color: white;
        padding: 10px 20px;
        width: 50px;
        margin: 5% 0;
        border: 2px solid $cyan;
        border-radius: 5px;
        font-family: $main-font;
        font-size: 20px;
        text-decoration: none;
        outline: none;

        &:hover {
          cursor: pointer;
          background: $bright-magenta;
          border: 2px solid rgb(207, 207, 207);
          transition: background 0.3s, border 0.3s;
        }

        &:focus {
          background: $near-black;
        }

        &:active {
          background: $magenta;
        }
      }
    }
  }
}

.gradient {
  position: relative;
  width: 100%;
  height: 60px;
  background: $black;
  background: linear-gradient(
    180deg,
    rgba(22, 22, 26, 1) 10%,
    rgba(255, 255, 255, 0) 90%
  );
  z-index: 10;
}

.fixed-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;

  .gear {
    position: absolute;
    top: 0;
    width: 250px;
    margin-left: -125px;
    margin-top: -65px;
    z-index: 4;

    @media screen and (max-width: $break-tablet) and (orientation: portrait) {
      width: 200px;
      margin-left: -100px;
      margin-top: 15px;
    }

    @media screen and (max-width: $break-mobile) and (orientation: portrait) {
      width: 145px;
      margin-left: -75px;
      margin-top: 45px;
    }

    @media screen and (max-height: $break-mobile) and (orientation: landscape) {
      width: 145px;
      margin-left: -70px;
      margin-top: -15px;
    }
  }

  .title {
    width: 180px;
    margin: 3px auto 0;
    text-align: center;
    font-family: $title-font, sans-serif;
    font-size: 2.4rem;
    padding: 17px 22px;
    background: $black;
    border-radius: 25px;
    color: white;
    letter-spacing: 0.03em;
    backface-visibility: hidden;
  }

  .about-page {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 0;
    z-index: 3;
    pointer-events: none;

    .about-sign {
      position: absolute;
      top: 8%;
      width: 100%;

      @media screen and (max-width: $break-tablet) and (orientation: portrait) {
        transform: scale(0.85);
        top: 12%;
      }

      @media screen and (max-width: $break-mobile) and (orientation: portrait) {
        transform: scale(0.7);
        top: 14%;
      }

      @media screen and (max-height: $break-mobile) and (orientation: landscape) {
        display: none;
      }

      .spring-box {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: -60px;

        img {
          width: 100px;
        }
      }
    }
    .text-box-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 50%;
      margin-top: 14vh;

      @media screen and (max-width: $break-tablet) and (orientation: portrait) {
        margin-top: 16vh;
      }

      @media screen and (max-width: $break-mobile) and (orientation: portrait) {
        margin-top: 18vh;
      }

      .text-box {
        display: flex;
        width: 0%;
        min-width: 3px;
        height: 0%;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        background: $black;
        overflow: hidden;

        .about-text {
          color: white;
          white-space: nowrap;
        }
      }
    }
  }

  .work-page {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 60px 0 0;
    pointer-events: none;

    @media screen and (max-width: $break-tablet) and (orientation: portrait) {
      padding: 140px 0 0;
    }

    @media screen and (max-width: $break-mobile) and (orientation: portrait) {
      padding: 170px 0 0;
    }

    .work-sign-container {
      position: absolute;
      width: 100%;
      top: 10%;

      @media screen and (max-width: $break-tablet) and (orientation: portrait) {
        transform: scale(0.85);
        top: 12%;
      }

      @media screen and (max-width: $break-mobile) and (orientation: portrait) {
        transform: scale(0.7);
        top: 15%;
      }

      @media screen and (max-height: $break-mobile) and (orientation: landscape) {
        display: none;
      }

      .work-sign-box {
        position: relative;
        display: flex;
        justify-content: center;
        width: 180px;
        margin: 0 auto;
        padding: 17px 22px;

        .work-sign {
          position: absolute;
          width: 100%;
          height: 80px;
          transform: rotateY(0.5turn);
          z-index: 1;
          backface-visibility: hidden;

          .work-sign-front {
            position: absolute;
            width: 100%;
            height: 80px;
            background: $black;
            backface-visibility: hidden;
            border-radius: 20px;
            z-index: 2;
          }

          .work-sign-back {
            position: absolute;
            width: 100%;
            height: 80px;
            background: $dark-grey-blue;
            border-radius: 20px;
            transform: rotateX(0.5turn);
            z-index: 1;
          }
        }
      }
    }

    .telescope-container {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      top: 25.5%;

      .perspective-box {
        position: absolute;
        perspective: 1500px;
        perspective-origin: top;
        left: 50px;
        transform: translateZ(500px);
        margin: 5px auto 0;
        top: 0%;

        .adjustment-box {
          position: relative;
          transform-style: preserve-3d;

          .panel-box {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 60vw;
            height: 32vw;
            margin: 0 auto;
            border: 2vw solid $black;
            border-radius: 1vw;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            align-content: flex-start;
            transform-origin: top;
            transform-style: preserve-3d;

            @media screen and (orientation: portrait) {
              width: 32vh;
              height: 60vh;
              border: 2vh solid $black;
              border-radius: 1vh;
            }

            .work-panel-container {
              position: relative;
              height: 14vw;
              width: 14vw;
              background: transparent;
              transform-style: preserve-3d;

              @media screen and (orientation: portrait) {
                width: 14vh;
                height: 14vh;
              }

              .work-panel {
                position: relative;
                height: 100%;
                width: 100%;
                backface-visibility: hidden;
                transform-style: preserve-3d;
                z-index: 3;

                .work-panel-front {
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  width: 100.5%;
                  height: 100.5%;
                  top: 0%;
                  right: 0%;
                  margin-top: -0.25%;
                  margin-right: -0.25%;
                  background: $black;
                  box-sizing: border-box;
                  overflow: hidden;
                  z-index: 4;
                  backface-visibility: hidden;
                  transform-style: preserve-3d;

                  .work-panel-content {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: space-between;
                    width: 97%;
                    height: 97%;
                    background: $magenta;
                    transform-style: preserve-3d;
                    z-index: 5;
                    pointer-events: all;
                    cursor: pointer;
                    overflow: hidden;
                    outline: none;

                    &:focus {
                      border: 2px solid $cyan;

                      &:active {
                        border: none;
                      }
                    }

                    .work-panel-image {
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      transition: opacity 0.5s;
                      z-index: 2;
                    }

                    .work-panel-text {
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      margin: 0 0.5vw 0.5vw;
                      flex-grow: 1;

                      @media screen and (orientation: portrait) {
                        margin: 0 0.5vh 0.5vh;
                      }

                      .work-panel-title {
                        display: inline-block;
                        position: relative;
                        width: 100%;
                        color: white;
                        font-family: $main-font, sans-serif;
                        font-size: 1.8vw;
                        font-weight: bolder;
                        margin-bottom: 0.3vw;
                        margin-top: 0.5vw;
                        z-index: 1;

                        @media screen and (orientation: portrait) {
                          font-size: 1.6vh;
                        }
                      }

                      .work-panel-slug {
                        position: relative;
                        width: 100%;
                        color: white;
                        font-family: $main-font;
                        font-size: 0.8vw;
                        margin-top: 0.3vw;
                        z-index: 1;

                        @media screen and (orientation: portrait) {
                          font-size: 0.8vh;
                        }
                      }
                    }

                    .work-panel-video-box {
                      position: relative;
                      width: 100%;
                      height: 60%;
                      overflow: hidden;
                      z-index: 1;

                      .work-panel-video {
                        width: 110%;
                        margin-left: -5%;

                        @media screen and (orientation: portrait) {
                          transform: translateX(calc((100% - 14vh) / 2));
                        }
                      }
                    }
                  }
                }
                .work-panel-back {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background: $bright-magenta;
                  transform: rotateX(0.5turn);
                  transform-style: preserve-3d;
                  backface-visibility: hidden;
                  z-index: 3;
                }
              }
            }
          }
        }
      }

      .telescope-1 {
        position: absolute;
        right: 0%;
        height: 62px;
        width: 7%;
        min-width: 70px;
        transform: translate(150%, 0);
        z-index: 2;

        @media screen and (max-width: $break-mobile) {
          right: -6%;
        }
      }

      .telescope-2 {
        position: absolute;
        right: 1%;
        height: 32px;
        width: 7%;
        min-width: 70px;
        transform: translate(150%, 0);
        z-index: 2;

        @media screen and (max-width: $break-mobile) {
          right: -9.5%;
        }
      }

      .telescope-3 {
        position: absolute;
        right: 2%;
        height: 24px;
        width: 7%;
        min-width: 70px;
        transform: translate(150%, 0);
        z-index: 2;

        @media screen and (max-width: $break-mobile) {
          right: -13%;
        }
      }

      .telescope-bar {
        position: relative;
        height: 8px;
        left: calc(20vw - 50px);
        width: 200vw;
        margin: 0 auto;
        transform: translate(200%, 0);

        @media screen and (orientation: portrait) {
          left: calc(50vw - 16vh - 50px);
        }

        .bar {
          position: absolute;
          width: 100%;
          height: 100%;
          background: $black;
          border-radius: 20px;
          z-index: 3;
        }

        .ball {
          position: absolute;
          left: 0;
          margin-top: -6px;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background: $black;
        }
      }
    }
  }

  .contact-page {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;

    .contact-sign {
      position: relative;
      height: 100%;
      z-index: 2;
      top: -2%;

      @media screen and (max-height: $break-mobile) and (orientation: landscape) {
        display: none;
      }

      @media screen and (max-width: $break-tablet) and (orientation: portrait) {
        transform: scale(0.85);
        top: 0;
      }

      @media screen and (max-width: $break-mobile) and (orientation: portrait) {
        transform: scale(0.7);
        top: -3%;
      }

      .contact-sign-box {
        display: flex;
        width: 250px;
        height: 30%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        transform-origin: top;

        .contact-title-stem {
          position: relative;
          margin-bottom: -92px;
          height: 100%;
          width: 10px;
          background: $black;
          border: 2px dashed $grey-blue;
          z-index: 8;
        }
        .contact-text-box {
          position: relative;
          text-align: center;
          width: 100%;
          height: 80px;
          border-radius: 20px;
          background: $black;
          z-index: 9;

          .title {
            width: auto;
          }
        }
      }
    }

    .contact-unfold-container {
      position: absolute;
      width: 60%;
      min-width: 280px;
      bottom: 0%;
      margin-bottom: -20vh;
      perspective: 1000px;

      .contact-unfold-box {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateX(0.5turn);
        transform-origin: top;
        transform-style: preserve-3d;
        width: 100%;
        height: 15vh;
        bottom: 100%;
        pointer-events: all;

        .contact-unfold-front {
          position: absolute;
          width: 100%;
          height: 15.05vh;
          bottom: 100%;
          backface-visibility: hidden;
          transform-style: preserve-3d;
          background: $black;
          box-sizing: border-box;

          &.first {
            background: $near-black;
          }
          &.third {
            background: $near-black;
          }
          &.fourth {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }

        .contact-unfold-back {
          position: absolute;
          transform-style: preserve-3d;
          transform: rotateY(0.5turn);
          backface-visibility: hidden;
          width: 99.8%;
          height: 15.1vh;
          bottom: 100%;
          background: $dark-grey-blue;
          border-right: 10px solid $magenta;
          border-left: 10px solid $magenta;

          &.fourth {
            border-top: 10px solid $magenta;
            height: 14.9vh;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }
        }

        .fold-content {
          width: 80%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: white;
          font-size: 1.6rem;
          z-index: 3;
          transform-style: preserve-3d;
          transform: translateZ(0.1px);
          bottom: 100%;
          backface-visibility: hidden;

          @media screen and (max-height: $break-mobile) and (orientation: landscape) {
            font-size: 1rem;
          }

          @media screen and (max-width: $break-tablet) and (orientation: portrait) {
            font-size: 1.35rem;
          }

          @media screen and (max-width: $break-mobile) and (orientation: portrait) {
            font-size: 1.1rem;
          }

          &.first {
            position: relative;
            color: white;
            font-size: 1rem;
            margin-top: -9vh;
          }

          .email-button {
            background: $black;
            color: white;
            padding: 10px 20px;
            border: 2px solid $cyan;
            border-radius: 5px;
            font-family: $main-font;
            font-size: 2rem;
            text-decoration: none;
            outline: none;

            @media screen and (max-height: $break-mobile) and (orientation: landscape) {
              font-size: 1.2rem;
            }

            @media screen and (max-width: $break-tablet) and (orientation: portrait) {
              font-size: 1.7rem;
            }

            @media screen and (max-width: $break-mobile) and (orientation: portrait) {
              font-size: 1.4rem;
            }

            &:hover {
              cursor: pointer;
              background: $bright-magenta;
              border: 2px solid rgb(207, 207, 207);
              transition: background 0.3s, border 0.3s;
            }

            &:focus {
              background: $near-black;
            }

            &:active {
              background: $magenta;
            }
          }

          .icon-box {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 20px;
            padding: 0 3px;
            background: $black;
            color: rgb(207, 207, 207);
            border: 2px solid $cyan;
            border-radius: 5px;
            outline: none;
            transition: background 0.3s, border 0.3s;

            @media screen and (max-height: $break-mobile) and (orientation: landscape) {
              margin: 0 10px;
            }

            @media screen and (max-width: $break-tablet) and (orientation: portrait) {
              margin: 0 14px;
            }

            @media screen and (max-width: $break-mobile) and (orientation: portrait) {
              margin: 0 12px;
            }

            .icon {
              position: flex;
              align-items: center;
              font-size: 40px;
              padding: 8px;

              @media screen and (max-height: $break-mobile) and (orientation: landscape) {
                font-size: 20px;
              }

              @media screen and (max-width: $break-tablet) and (orientation: portrait) {
                font-size: 35px;
              }

              @media screen and (max-width: $break-mobile) and (orientation: portrait) {
                font-size: 30px;
              }
            }

            &:focus {
              background: $near-black;
            }

            &:hover {
              background: $bright-magenta;
              border: 2px solid rgb(207, 207, 207);

              &:active {
                background: $magenta;
              }
            }
          }
        }
      }

      .first-box {
        transform-origin: bottom;
      }
    }
  }
}
