@import "Colors.scss";
@import "Variables.scss";

.app {
  height: 100%;
  background: $grey-blue;
  scroll-behavior: smooth;

  .nav-bar {
    display: flex;
    position: fixed;
    padding: 0 10% 0 10%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 80%;
    background: $black;
    z-index: 5;

    @media screen and (max-width: $break-tablet) and (orientation: portrait) {
      flex-direction: column;
      height: 150px;
      justify-content: space-evenly;
      width: 90%;
      padding: 0 5% 0 5%;
    }

    .page-title {
      color: white;
      font-family: "Open Sans", sans-serif;
      font-size: 3rem;
      letter-spacing: 0.03em;

      @media screen and (max-height: $break-mobile) and (orientation: landscape) {
        font-size: 2rem;
        visibility: hidden;
      }
    }

    .inner-nav-bar {
      display: flex;
      justify-content: space-between;
      width: 440px;

      @media screen and (max-width: $break-mobile) and (orientation: portrait) {
        width: 100%;
      }

      .nav-link {
        color: white;
        padding: 10px 20px;
        border: 2px solid rgb(207, 207, 207);
        border-radius: 5px;
        font-family: "Open Sans", sans-serif;

        &:hover {
          cursor: pointer;
          background: $bright-magenta;
          transition: background 0.3s;
        }

        &:active {
          background: $magenta;
        }

        &:focus {
          outline: none;
          background: $near-black;
        }

        @media screen and (max-width: $break-mobile) and (orientation: portrait) {
          font-size: 14px;
          padding: 8px 10px;
          border-radius: 12px;
        }
      }
    }
  }

  .top-container {
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .modal-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 10;
    background: transparent;
    pointer-events: none;
    transition: background 0.5s;

    .work-modal {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 80%;
      height: 80%;
      background: $dark-magenta;
      border-radius: 10px;

      .modal-off-button {
        position: absolute;
        height: 24px;
        width: 24px;
        top: 1vw;
        right: 1vw;
        background: transparent;
        border: 2px solid rgb(207, 207, 207);
        font-size: 10px;
        color: white;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }

        &:focus {
          outline: none;
          background: rgba(255, 255, 255, 0.2);
        }
      }

      .modal-outer-box {
        display: flex;
        justify-content: space-between;
        align-items: space-between;
        width: 90%;
        height: 70%;
        margin-top: 5%;

        @media screen and (max-width: $break-tablet) and (orientation: portrait) {
          flex-direction: column;
          align-items: center;
        }

        .modal-image {
          height: 100%;
          width: 45%;
          background: black;

          @media screen and (max-width: $break-tablet) and (orientation: portrait) {
            flex-direction: column;
            align-items: center;
            width: 80%;
          }
        }
        .modal-inner-box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 45%;

          .modal-title {
            color: white;
            font-size: 2.4rem;
          }

          .modal-description {
            color: white;
            font-size: 1.6rem;
          }
        }
      }

      .modal-link {
        background: $black;
        color: white;
        padding: 10px 20px;
        width: 50px;
        margin: 5% 0;
        border: 2px solid $cyan;
        border-radius: 5px;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          background: $bright-magenta;
          border: 2px solid rgb(207, 207, 207);
          transition: background 0.3s, border 0.3s;
        }

        &:active {
          background: $magenta;
        }

        &:focus {
          outline: none;
          background: $near-black;
        }
      }
    }
  }
}

.gradient {
  position: relative;
  width: 100%;
  height: 60px;
  background: $black;
  background: linear-gradient(
    180deg,
    rgba(22, 22, 26, 1) 10%,
    rgba(255, 255, 255, 0) 90%
  );
  z-index: 10;
}

.scroll-box {
  position: relative;
  height: 7000px;
  margin: 0;
  padding: 0;
}

.fixed-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

  .gear {
    position: fixed;
    top: 0;
    width: 250px;
    margin-left: -125px;
    margin-top: -65px;
    z-index: 4;

    @media screen and (max-width: $break-tablet) and (orientation: portrait) {
      width: 200px;
      margin-left: -100px;
      margin-top: 45px;
    }

    @media screen and (max-width: $break-mobile) and (orientation: portrait) {
      width: 150px;
      margin-left: -75px;
      margin-top: 75px;
    }
  }

  .title {
    width: 180px;
    margin: 0 auto;
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-size: 50px;
    padding: 17px 22px;
    background: $black;
    border-radius: 25px;
    color: white;
    letter-spacing: 0.03em;
    backface-visibility: hidden;
  }

  .about-page {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 0;
    z-index: 3;
    pointer-events: none;

    .about-sign {
      position: absolute;
      top: 8%;
      width: 100%;

      @media screen and (max-width: $break-tablet) and (orientation: portrait) {
        transform: scale(0.85);
        top: 16%;
      }

      @media screen and (max-width: $break-mobile) and (orientation: portrait) {
        transform: scale(0.7);
        top: 19%;
      }

      @media screen and (max-height: $break-mobile) and (orientation: landscape) {
        display: none;
      }

      .spring-box {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: -60px;

        img {
          width: 100px;
        }
      }
    }
    .text-box-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 50vh;
      margin-top: 14vh;

      .text-box {
        border-radius: 25px;
        background: $black;
      }
    }
  }

  .work-page {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 60px 0 0;
    pointer-events: none;

    @media screen and (max-width: $break-tablet) and (orientation: portrait) {
      padding: 150px 0 0;
    }

    @media screen and (max-width: $break-mobile) and (orientation: portrait) {
      padding: 180px 0 0;
    }

    .work-sign-container {
      position: absolute;
      width: 100%;
      top: 14%;

      @media screen and (max-width: $break-tablet) and (orientation: portrait) {
        transform: scale(0.85);
        top: 16%;
      }

      @media screen and (max-width: $break-mobile) and (orientation: portrait) {
        transform: scale(0.7);
        top: 19%;
      }

      @media screen and (max-height: $break-mobile) and (orientation: landscape) {
        display: none;
      }

      .work-sign-box {
        position: relative;
        display: flex;
        justify-content: center;
        width: 180px;
        margin: 0 auto;
        padding: 17px 22px;

        .work-sign {
          position: absolute;
          width: 100%;
          height: 80px;
          z-index: 1;
          backface-visibility: hidden;

          .work-sign-front {
            position: absolute;
            width: 100%;
            height: 80px;
            background: $black;
            backface-visibility: hidden;
            border-radius: 20px;
            z-index: 2;
          }

          .work-sign-back {
            position: absolute;
            width: 100%;
            height: 80px;
            background: $dark-grey-blue;
            border-radius: 20px;
            transform: rotateX(0.5turn);
            z-index: 1;
          }
        }
      }
    }

    .telescope-container {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      top: 30%;

      .perspective-box {
        position: absolute;
        perspective: 1500px;
        left: 50px;
        transform: translateZ(500px) translateY(-14vw);
        margin: 5px auto 0;
        top: 0%;

        .adjustment-box {
          position: relative;
          transform: translateY(14vw);
          transform-style: preserve-3d;

          .panel-box {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 52vw;
            height: 28vw;
            margin: 0 auto;
            border: 2vw solid $black;
            border-radius: 1vw;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            align-content: flex-start;
            transform-origin: top;
            transform-style: preserve-3d;

            @media screen and (orientation: portrait) {
              width: 28vh;
              height: 52vh;
              border: 2vh solid $black;
              border-radius: 1vh;
            }

            .work-panel-container {
              position: relative;
              height: 12vw;
              width: 12vw;
              background: transparent;
              transform-style: preserve-3d;

              @media screen and (orientation: portrait) {
                width: 12vh;
                height: 12vh;
              }

              .work-panel {
                position: relative;
                height: 100%;
                width: 100%;
                backface-visibility: hidden;
                transform-style: preserve-3d;
                z-index: 3;

                .work-panel-front {
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  height: 100%;
                  top: 0%;
                  right: 0%;
                  background: $black;
                  box-sizing: border-box;
                  overflow: hidden;
                  z-index: 4;
                  backface-visibility: hidden;
                  transform-style: preserve-3d;

                  .work-panel-content {
                    position: absolute;
                    width: 97%;
                    height: 97%;
                    transform-style: preserve-3d;
                    z-index: 5;
                    pointer-events: all;
                    cursor: pointer;

                    .work-panel-image {
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
                .work-panel-back {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background: $bright-magenta;
                  transform: rotateX(0.5turn);
                  transform-style: preserve-3d;
                  z-index: 3;
                }
              }
            }
          }
        }
      }

      .telescope-1 {
        position: absolute;
        right: 0%;
        height: 62px;
        width: 7%;
        min-width: 70px;
        transform: translate(150%, 0);
        z-index: 2;
      }

      .telescope-2 {
        position: absolute;
        right: 1%;
        height: 32px;
        width: 7%;
        min-width: 70px;
        transform: translate(150%, 0);
        z-index: 2;
      }

      .telescope-3 {
        position: absolute;
        right: 2%;
        height: 24px;
        width: 7%;
        min-width: 70px;
        transform: translate(150%, 0);
        z-index: 2;
      }

      .telescope-bar {
        position: relative;
        height: 8px;
        left: calc(24vw - 50px);
        width: 200vw;
        margin: 0 auto;
        transform: translate(200%, 0);

        @media screen and (orientation: portrait) {
          left: calc(50vw - 14vh - 50px);
        }

        .bar {
          position: absolute;
          width: 100%;
          height: 100%;
          background: $black;
          border-radius: 20px;
          z-index: 3;
        }

        .ball {
          position: absolute;
          left: 0;
          margin-top: -6px;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background: $black;
        }
      }
    }
  }

  .contact-page {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;

    @media screen and (max-width: $break-tablet) and (orientation: portrait) {
      padding-top: 40px;
    }

    .contact-sign {
      position: relative;

      @media screen and (max-height: $break-mobile) and (orientation: landscape) {
        display: none;
      }

      .contact-sign-box {
        display: flex;
        width: 200px;
        height: 30vh;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        transform-origin: top;

        .contact-title-stem {
          position: relative;
          margin-bottom: -80px;
          height: 30vh;
          width: 10px;
          background: $black;
          z-index: 8;
        }
        .contact-text-box {
          position: relative;
          text-align: center;
          width: 100%;
          height: 80px;
          border-radius: 20px;
          background: $black;
          z-index: 9;

          .title {
            width: auto;
          }
        }
      }
    }

    .contact-unfold-container {
      position: absolute;
      width: 60%;
      bottom: 0%;
      margin-bottom: -20vh;
      perspective: 1000px;

      .contact-unfold-box {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateX(0.5turn);
        transform-origin: top;
        transform-style: preserve-3d;
        width: 100%;
        height: 15vh;
        bottom: 100%;
        pointer-events: all;

        .contact-unfold-front {
          position: absolute;
          width: 100%;
          height: 15.05vh;
          bottom: 100%;
          backface-visibility: hidden;
          transform-style: preserve-3d;
          background: $black;
          box-sizing: border-box;

          &.first {
            background: $near-black;
          }
          &.third {
            background: $near-black;
          }
          &.fourth {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }

        .contact-unfold-back {
          position: absolute;
          transform-style: preserve-3d;
          transform: rotateY(0.5turn);
          backface-visibility: hidden;
          width: 99.8%;
          height: 15.1vh;
          bottom: 100%;
          background: $dark-grey-blue;
          border-right: 10px solid $magenta;
          border-left: 10px solid $magenta;

          &.fourth {
            border-top: 10px solid $magenta;
            height: 14.9vh;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }
        }

        .fold-content {
          position: relative;
          color: white;
          z-index: 3;
          transform-style: preserve-3d;
          bottom: 100%;

          .email-button {
            background: $black;
            color: white;
            padding: 10px 20px;
            border: 2px solid $cyan;
            border-radius: 5px;
            font-family: "Open Sans", sans-serif;
            font-size: 20px;

            &:hover {
              cursor: pointer;
              background: $bright-magenta;
              border: 2px solid rgb(207, 207, 207);
              transition: background 0.3s, border 0.3s;
            }

            &:active {
              background: $magenta;
            }

            &:focus {
              outline: none;
              background: $near-black;
            }
          }
        }
      }

      .first-box {
        transform-origin: bottom;
      }
    }
  }
}
