$dark-black: rgb(12, 12, 20);
$black: rgb(20, 20, 24);
$near-black: rgb(43, 43, 48);
$magenta: rgb(100, 0, 80);
$bright-magenta: rgb(135, 0, 110);
$dark-magenta: rgb(70, 15, 59);
$violet: rgb(60, 0, 100);
$red: rgb(70, 0, 20);
$grey-blue: rgb(148, 161, 178);
$dark-grey-blue: rgb(120, 125, 138);
$cyan: rgb(0, 184, 230);
$dark-cyan: rgb(0, 43, 54);

:export {
  darkBlack: $dark-black;
  black: $black;
  nearBlack: $near-black;
  magenta: $magenta;
  brightMagenta: $bright-magenta;
  violet: $violet;
  red: $red;
  greyBlue: $grey-blue;
  darkGreyBlue: $dark-grey-blue;
  cyan: $cyan;
  darkCyan: $dark-cyan;
}