$break-mobile: 450px;
$break-tablet: 900px;
$break-720: 1100px;
$break-hd: 1500px;

:export {
  breakMobile: $break-mobile;
  breakTablet: $break-tablet;
  break720: $break-720;
  breakHD: $break-hd;
}